---
  - name: add host to engine
    hosts: localhost
    connection: local
#    become: yes
    pre_tasks:
      - name: Login to RHV
        ovirt_auth:
          url: "https://localhost/ovirt-engine/api"
          username: "admin@internal"
          password: "123456"
          ca_file: "/etc/pki/ovirt-engine/ca.pem"
          insecure: "true"
        tags:
          - always
    vars:
      data_center_name: Default
      cluster_name: cluster-{{hostname}}
      cluster_description: cluster-{{hostname}} Cluster
      root_password: 123456
      hostname: {{hostname}}
{% raw %}
    tasks:
      - name: create new cluster
        ovirt_cluster:
          auth: "{{ ovirt_auth }}"
          name: "{{ cluster_name }}"
          data_center: Default
          description: "{{ cluster_description }}"
          cpu_type: Intel Haswell-noTSX IBRS SSBD MDS Family
          ksm: true
          memory_policy: server

      - name: Add Host ocp-rhv-nested-vm-host to the Cluster
        ovirt_host:
          auth: "{{ ovirt_auth }}"
          cluster: "{{ cluster_name }}"
          state: present
          name: "{{hostname}}"
          address: "{{hostname}}"
          password: "{{ root_password }}"

    post_tasks:
      - name: Logout from RHV
        ovirt_auth:
          state: absent
          ovirt_auth: "{{ ovirt_auth }}"
{% endraw %}